<section>
  <nav class="h-20 px-8 flex items-end md:justify-center">
    <input type="checkbox" id="menu" class="peer hidden" />
    <label
      for="menu"
      class="bg-abrir-menu size-10 bg-cover bg-center cursor-pointer peer-checked:bg-cerrar-menu transition-all duration-300 z-40 md:hidden"
    ></label>
    <div
      class="fixed inset-0 bg-gradient-to-b from-[#000] to-[#18091d]  -translate-y-full peer-checked:translate-y-0 transition-all duration-500 md:static md:translate-x-0 md:bg-none"
    >
      <ul
        class="h-max grid gap-5 mt-[50%] text-center  font-bold md:grid-flow-col md:static md:mt-0 z-50"
      >
        <li><a href="#top">HOME</a></li>
        <li><a href="#experiencia">EXPERIENCIA</a></li>
        <li><a href="#proyectos">PROYECTOS</a></li>
        <li><a href="#habilidades">HABILIDADES</a></li>
        <li><a href="#contacto">CONTACTO</a></li>
      </ul>
    </div>
  </nav>
</section>