<nav>
    <nav-component></nav-component>
</nav>
<main>
    <header class="py-10 px-4">
        <img
            class="w-full h-auto max-w-40 rounded-full object-cover aspect-[458/458] mx-auto"
            src="assets/foto.webp"
            alt="Foto principal de Axel Ledesma"
        />
        <h1 class="text-center text-xl font-semibold px-2 py-4 text-pretty">
            Axel Ledesma - Desarrollador Web Full Stack
        </h1>
        <p class="max-w-xl mx-auto text-balance text-center">
            Una persona resolutiva y autodidacta dedicandome a las
            Telecomunicaciones y formandome en la Programacion, dispuesto siempre a
            seguir aprendiendo para utilizar las herramientas que se me brinden de
            forma eficiente y productiva
        </p>
        <div class="flex gap-6 justify-center py-4">
            <linkedin-button></linkedin-button>
            <github-button></github-button> 
        </div>
        <curriculum-button></curriculum-button>
    </header>
    <exp-component></exp-component>
    <project-component></project-component>
    <skill-component></skill-component>
    <footer>
        <contact-component></contact-component>
    </footer>
</main>
<!--<router-outlet />-->
